# Ignore node_modules and dependencies
node_modules
.next
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore build output
out
dist

# Ignore local environment variables
# .env
# .env.local
# .env.development
# .env.production
# .env.test

# Ignore logs
logs
*.log
yarn.lock
# package-lock.json

# Ignore editor and OS files
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Ignore Docker files that shouldn't be copied
.dockerignore
Dockerfile
