# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore logs
logs
*.log
.log

# Ignore build artifacts
dist
build

# Ignore environment variables
# .env
# .env.local
# .env.development
# .env.production
# .env.test

# Ignore temporary files and caches
tmp
temp
.cache
coverage

# Ignore editor and OS-specific files
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Ignore Docker-related files
.dockerignore
Dockerfile
